<h1>Home Paage</h1>
<p>This is the validation demo</p>
{{#each test}}
{{this}}
{{/each}}
<div>
    <form method="post">
        <h2>Register</h2>
        {{#if errors}}
            {{#each errors}}
                <p>{{this}}</p>
            {{/each}}
        {{/if}}
        <label {{#if errors.email}}class="error"{{/if}}>Email: <input type="text" name="email" id="email"></label>
        <label {{#if errors.password}}class="error"{{/if}}>Passworf: <input type="password" name="password" id="password"></label>
        <label {{#if errors.repass}}class="error"{{/if}}>Repeat: <input type="password" name="repass" id="repass"></label>
        <input type="submit" value="Register">
    </form>

</div>