<h1>Home Paage</h1>
<p>This is the validation demo</p>
<div>
    <form method="post">
        <h2>Register</h2>
        {{#if errors}}
            {{#each errors}}
                <p>{{this}}</p>
            {{/each}}
        {{/if}}
        <label>Email: <input type="text" name="email" id="email"></label>
        <label>Passworf: <input type="password" name="password" id="password"></label>
        <label>Repeat: <input type="password" name="repass" id="repass"></label>
        <input type="submit" value="Register">
    </form>

</div>